*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffff;
    background-image: url('./imgsrc/arcadeMachine.jpg');
    background-size: conver;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.screen{
    width: 1375px;
    height: 690px;
    background: rgb(0, 0, 0);
    position: absolute;
    top: 14.7%;
    left: 14.2%;
    clip-path: polygon(4% 0%, 96% 0%, 100% 100%, 0% 100%);
}

.table-screen{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.screen-h1{
    font-family: 'Common Pixel', sans-serif;
    color: white;
    text-align: center;
    font-size: 90px;
    margin-top: 5%;
}

.joystick-container{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 700px;
    left: 37%;
}

.joystick-ball{
    width: 100px;
    height: 100px;
    background: #AF2413;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.joystick-stick{
    background: gray;
    width: 35px;
    height: 89px;
    position:relative;
    overflow:visible;
    top: 90%;
    left: 33%;
    border: 1px solid black;
}

.joystick-platform{
    width: 200px;
    height: 52px;
    background: gray;
    position:absolute;
    top: 94.7%;
    left: 37%;
    border: 1px solid black;
}

.button-a-bottom{
    width: 120px;
    height: 15px;
    background: #AF2413;
    position: absolute;
    top:98.5%;
    left: 50%;
}

.button-a-top{
    width: 100px;
    height: 30px;
    background: #AF2413;
    position: absolute;
    top:-200%;
    left:7.5%;
    border: 1px solid black;
}

.button-b-bottom{
    width: 120px;
    height: 15px;
    background: #139EAF;
    position: absolute;
    top:98.5%;
    left: 57%;
}

.button-b-top{
    width: 100px;
    height: 30px;
    background: #139EAF;
    position: absolute;
    top:-200%;
    left:7.5%;
    border: 1px solid black;
}